/* General styles */
body {
    font-family: 'Papyrus', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; 
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fix background image position */
}

/* Header styles */
header {
    background-color: #ffd3b6;
    color: #698474;
    padding: 25px;
    text-align: center; /* Center align the header content */
    position: relative; /* Set position to relative */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

/* Navbar styles */
nav {
    background-color: #ffaaa5; /* Light coral */
    padding: 15px 0; /* Increased padding for thicker navbar */
    position: relative; /* Set position to relative */
    z-index: 1; /* Set z-index to 1 to ensure the navbar is above the flowers */
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #698474; /* Olive green */
}

nav ul li a:hover {
    color: #fff !important;
    background-color: #698474 !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    position: relative !important;
    z-index: 1 !important;
}
/*-------------------*/
/* Landing page styles */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.profile-section p {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.profile-picture {
    width: 300px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
/* Flower styles */
.flower {
    filter: brightness(0) saturate(100%) invert(50%) sepia(23%) saturate(100%) hue-rotate(328deg) brightness(101%) contrast(98%);
    width: 200px;
    height: auto;
    position: absolute;
    top: 20%; /* Adjust the top margin to move the flowers down */
    transform: translateY(-50%);
    z-index: 0; /* Set z-index to 0 to ensure the flowers are behind the navbar */
}

.left-flower {
    left: 10px;
}

.right-flower {
    right: 10px;
}


.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 50px; /* Adjust the margin-top value */
}

.photo-item {
    overflow: hidden; /* Hide any content that overflows the boundaries of the container */
    border-radius: 100%;
    transition: transform .3s ease-in-out;
}
  
.photo-item img {
    display: block;
    max-width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.photo-item p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.photo-item:hover p {
    opacity: 1; /* Set the opacity of the text to 1 when the .photo-item is hovered over */
}


.photo-item:hover {
    transform: scale(1.05);
}
  
.photo-item:hover img {
    transform: scale(1.05);
}

/* Media queries */
@media (max-width: 600px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns for mobile */
    }

    .photo-item {
        max-width: 100%; /* Set max-width to 100% for mobile */
    }
}

/*--------My Loves-----------*/
.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;
}
  
  .item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
  }
  
  .item:hover .text {
    opacity: 1;
  }
/*---------Hobbies----------*/
.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.hobby {
    overflow: hidden;
    text-align: center;
}

.hobby img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin: 0 auto;
}

.words {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.gif-redirect {
    width: 200px;
    /* set desired width */
    height: auto;
    /* maintain aspect ratio */
}

/*---------Professional----------*/
.prof {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 50px 0;
}

.prof:first-child {
    border-top: none;
}

.prof-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.prof-container .image {
    text-align: center;
    flex: 0 0 49%;
    margin-right: 2%;
}

.prof-container .letters {
    text-align: center;
    flex: 0 0 49%;
    margin-left: 2%;
}

.prof-container .image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.prof-container .letters a {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
}

.prof-container .letters h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left;
}

.prof-container .letters p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: left;
}

.row-1 .image,
.row-3 .image {
    text-align: right;
}

.row-1 .letters,
.row-3 .letters {
    text-align: left;
}

.row-2 .image,
.row-4 .image {
    text-align: left;
}

.row-2 .letters,
.row-4 .letters {
    text-align: right;
}


/* Desktop styles */
@media (min-width: 768px) {
    .landing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
    }
}

/* Mobile styles */
.media {
    flex-direction: column;
}
